## src files to ignore ##
src/mdcgen
src/datasets/**/*.txt
src/datasets/**/*.csv
src/artificalCluster-1.0.jar
*.asv

## LaTeX to ignore ##
*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz(busy)