## Main files to ignore ##
src/mdcgen
src/datasets/**/*.txt
src/datasets/**/*.csv
src/artificalCluster-1.0.jar
*.asv

## LaTeX ##
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.synctex.gz
*.bbl
*.blg